<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>loginservlet</servlet-name>
        <servlet-class>servlet.Loginservlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginservlet</servlet-name>
        <url-pattern>/loginservlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>signupservlet</servlet-name>
        <servlet-class>servlet.SignUpservlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>signupservlet</servlet-name>
        <url-pattern>/signupservlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>logoutservlet</servlet-name>
        <servlet-class>servlet.Logoutservlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>logoutservlet</servlet-name>
        <url-pattern>/logoutservlet</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>home.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>matchaddservlet</servlet-name>
        <servlet-class>servlet.MatchAddservlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>matchaddservlet</servlet-name>
        <url-pattern>/matchaddservlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>matchretrieveservlet</servlet-name>
        <servlet-class>servlet.MatchRetrieveservlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>matchretrieveservlet</servlet-name>
        <url-pattern>/matchretrieveservlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>matchdelservlet</servlet-name>
        <servlet-class>servlet.MatchDelservlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>matchdelservlet</servlet-name>
        <url-pattern>/matchdelservlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>matcheditservlet</servlet-name>
        <servlet-class>servlet.MatchEditservlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>matcheditservlet</servlet-name>
        <url-pattern>/matcheditservlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>matchupdateservlet</servlet-name>
        <servlet-class>servlet.MatchUpdateservlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>matchupdateservlet</servlet-name>
        <url-pattern>/matchupdateservlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>matchenterservlet</servlet-name>
        <servlet-class>servlet.MatchEnterservlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>matchenterservlet</servlet-name>
        <url-pattern>/matchenterservlet</url-pattern>
    </servlet-mapping>
</web-app>